// Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_jainvarvadhu

// Backend Server IP and port
BACKEND_URL=http://localhost:3000/api

NEXT_PUBLIC_API_URL=http://localhost:3000/api

// JWT secret key
ACCESS_TOKEN_SECRET=fERr8hjMZ.-0uSL[eM>Gp5g(H8cp|LIlGm}e|v?|2[f
REFRESH_TOKEN_SECRET=your_refresh_token_secret_min_64_chars
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

// CORS configuration
CORS_ORIGIN=http://localhost:3000




